.the-end {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: transparent;
}

.site-footer {
    padding: 50px 0;
    background: #fff;
    margin-top: 200px;
    list-style: none;
}
.cot {
    list-style: none;
}
.icon {
    display: flex;
    padding-top: 10px;
   gap: 30px;
}